nav.main-navigation
    ul.main-navigation__menu-list
        li.main-navigation__item
            a.main-navigation__link(
            class={'main-navigation__item--active': page === 'index'}
            href="index.html"
            title="Перейти на главную страницу компании Barbershop"
            )
                img.logo(
                    src="images/logo.svg"
                    alt="Логотип компании Barbershop"
                    width="111"
                    height="24"
                )

        li.main-navigation__item
            a.main-navigation__link(
            class={'main-navigation__item--active': page === 'info'}
            href="info.html"
            title="Перейти на страницу: Информация"
            )
                | Информация

        li.main-navigation__item
            a.main-navigation__link(
            class={'main-navigation__item--active': page === 'news'}
            href="news.html"
            title="Перейти на страницу: Новости"
            )
                | Новости

        li.main-navigation__item
            a.main-navigation__link(
            class={'main-navigation__item--active': page === 'price'}
            href="price.hml"
            title="Перейти на страницу: Прайс-лист"
            )
                | Прайс-лист

        li.main-navigation__item
            a.main-navigation__link(
            class={'main-navigation__item--active': page === 'shop'}
            href="shop.html"
            title="Перейти на страницу: Магазин"
            )
                | Магазин

        li.main-navigation__item
            a.main-navigation__link(
            class={'main-navigation__item--active': page === 'contacts'}
            href="contacts.html"
            title="Перейти на страницу: Контакты"
            )
                | Контакты

    ul.main-navigation__user-list
        li.main-navigaation__user-item
            a.main-navigation__user-link(href="logout" title="Выйти из личного кабинета")
                | Выход